// ======================================
//  Variables
// ======================================
//Colors
$white: #fff;
$color-primary: #777;
$color-secondary: #58e1c1;
$color-link: #51ddfc;
// Fonts
$font-primary: "Lato",
sans-serif;
$button-colors: ();
//Breakpoints
$break-m: 768px;